# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.autosaves

# Build folders
solution/pf_controller_board/.vs/
solution/pf_controller_board/pf_controller_board/*/Debug/
solution/pf_controller_board/pf_controller_board/*/Release/
